= link_to '端末の新規登録', new_node_path

ul
| 管理端末:
| 内、未確認または期限切れの端末:
  dd

未確認または期限切れの端末があります。確認を実施してください。


h1 Pages#top
p Find me in app/views/pages/top.html.slim

p
  = link_to Node.model_name.human, nodes_path
p
  = link_to Network.model_name.human, networks_path

/ - @networks.each do |network|
/   p
/     = network.name

