# This is a sample credentials

secret_key_base: {{generate randomization}}

database:
  username: nodokan
  password: pass

ldap:
  username: cn=bind,dc=example,dc=jp
  password: pass

config:
  radius_mac_password: secret
