# defalut settings
site:
  title: null
database:
  # overwritten with credentials
  # username: nodokan
  # overwritten with credentials
  # password: ********
  option:
    host: localhost
    # port: 3306
    # socket: /var/lib/mysql/mysql.sock
  database: nodokan
  kea_database: kea
  radius_database: radius
  development_use_production_database: false
config:
  # overwritten with credentials
  radius_mac_password: null
  node_require_nic: false
  nic_require_network: false
  retention_period:
    ipv4_arp: null # forever
    ipv6_neighbor: null # forever
    radius_radacct: null # forever
    radius_radpostauth: null # forever
    bulk: 2629746 # 1 month
  nocompress_period:
    ipv4_arp: 31556952 # 1 year
    ipv6_neighbor: 31556952 # 1 year
    radius_radacct: 2629746 # 1 month
    radius_radpostauth: 0 # last
    bulk: null # forever
  destroy_deleted_user: false
  destroy_deleted_user_without_node: false
  destroy_nodes_of_deleted_user: false
  # confirmation period
  confirmation_period:
    approved: P1Y1M
    unapproved: P1M
    expire_soon: P1M
  # auto action and warning
  auto_destroy_node: false
  auto_disable_node: false
  warning_confirmation_expired: false
  warning_confirmation_expire_soon: false
  # period
  destroy_node_period:
    grace: P1M
    unconfirmed: P1M
    expried: P1Y
    not_connected: P1M
    last_connection: P1Y
  disable_node_period:
    grace: P1M
    unconfirmed: P1Y
    expried: P1Y
  notice_interval: P1M
  warning_interval: P1M
  user_can_enable_node: false
  enable_node_upon_confirmation: false
feature:
  confirmation: true
  specific_node: true
  user_auth_network: true
  virtual_node: true
  logical_node: true
theme:
  navbar: null
ldap:
  host: localhost
  port: 389
  # base: dc=example,dc=jp
  # auth: anonymous
  auth: simple
  # overwritten with credentials
  # username: cn=bind,dc=example,dc=jp
  # overwritten with credentials
  # passwrdo: ********
  ssl: null
  # ssl: simple_tls
  # ssl: start_tls
  user:
    dn: cn
    ou: null
    classes:
      - posixAccount
    attribute:
      mail: mail
      display_name: displayName
  group:
    dn: cn
    ou: null
    classes:
      - posixGroup
  restrict:
    auth:
      groups:
        - user
user_initial_configs: []
additional_messages:
  nic_setting: null
specific_node_application:
  rules:
    - name: 内部公開のみ (DNS登録のみ)
      dns: true
      external: none
      list: []
    - name: Web外部公開 (外部からのHTTP/HTTPS/QUCK、DNS登録)
      dns: true
      external: nat
      list:
        - in 80/tcp
        - in 443/tcp
        - in 443/udp
    - name: 外部Web直接アクセス (外部へのHTTP/HTTPS/QUIK)
      dns: false
      external: napt
      list:
        - out 80/tcp
        - out 443/tcp
        - out 443/udp
    - name: 外部SSH直接アクセス (外部へのSSH)
      dns: false
      external: napt
      list:
        - out 22/tcp
    - name: >-
        外部メールサービス直接アクセス (外部へのSMTPS/SMTP Submission/IMAPS/POP3S)
      dns: false
      external: napt
      list:
        - out 465/tcp
        - out 587/tcp
        - out 993/tcp
        - out 995/tcp
    - name: テレビ会議システム用双方向フリーアクセス
      dns: false
      external: through
      list:
        - both */tcp
        - both */udp
    - name: VPN装置用直接アクセス
      dns: true
      external: direct
      list: []
# mailer:
#   options:
#     from: no-reply@example.jp
#   url_options:
#     host: nodokan.example.jp
# admin:
#   username: admin
#   fullname: 管理者
#   email: admin@example.jp
