// Japanese fonts
$font-family-sans-serif: "BIZ UDPGothic", "Meiryo", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "Noto Sans JP",
  "Noto Sans", system-ui, -apple-system, "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans",
  "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji",
  sans-serif;
$font-family-serif: "BIZ UDPMincho", "Hiragino Mincho ProN", "Noto Serif CJK JP", "Noto Serif JP", "Noto Serif",
  "Georgia", "Times New Roman", "Tiems", serif;
$font-family-monospace: "BIZ UDGothic", "Noto Sans Mono CJK JP", "Noto Sans Mono", "SFMono-Regular", "Menlo", "Monaco",
  "Consolas", "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-family-code: "Cascadia Code", "Consolas", "DejaVu Sans Mono", "Source Code Pro", $font-family-monospace;
