@charset "utf-8"

@import "color"
@import "font"

@import "bootstrap/scss/bootstrap"
@import "bootstrap-icons/font/bootstrap-icons"
@import "rails_bootstrap_forms"

// rails

form.button_to
  display: inline-block

// custom

:root
  --theme-navbar-bg: var(--bs-tertiary-bg)
  --theme-navbar-bg-rgb: var(--bs-tertiary-bg-rgb)

nav.navbar
  background-color: var(--theme-navbar-bg) !important

a, .btn-link
  text-decoration: none

  &:hover
    text-decoration: underline

a.btn:not(.btn-link):hover
  text-decoration: none

select:invalid
  color: var(--bs-danger-text-emphasis)
  option
    color: var(--bs-body-color)
    &:first-child
      color: var(--bs-danger-text-emphasis)


select.required option[value=""]
  color: var(--bs-danger-text-emphasis)

label.form-label.required
  &::after
    color: var(--bs-danger-text-emphasis)
    content: " 【必須】"

.form-floating
  > .form-control:focus,
  > .form-control:not(:placeholder-shown),
  > .form-control-plaintext,
  > .form-select
    ~ label.form-label.required::after
      color: inherit
      content: ""



.form-floating > label
  color: rgba(var(--bs-body-color-rgb), #{$form-floating-label-opacity})

.form-floating > textarea.form-control
  height: calc(5.5rem + calc(var(--bs-border-width)* 2))

.clickable-row
  cursor: pointer

@each $color, $value in $theme-colors
  a.card.border-#{$color}
    &:hover
      text-decoration: none
      color: color-contrast($value) !important
      background-color: rgba(var(--bs-#{$color}-rgb), var(--bs-bg-opacity, 1)) !important

a.row
  color: inherit

  &:hover
    text-decoration: none
    background-color: var(--bs-secondary-bg) !important

dl.row.line
  dd
    border-bottom: solid 1px $gray-300

.context-menu
  display: none
  position: absolute
  left: 0
  top: 0
  font-size: 0.75rem

  .list-group-item
    padding : 0.25rem
