@charset "UTF-8";

// @import "rails_admin/src/rails_admin/styles/base"

// Variables & mixins
@import "rails_admin/src/rails_admin/styles/base/variables";
@import "rails_admin/src/rails_admin/styles/base/mixins";

// Libraries
@import "flatpickr/dist/flatpickr";

// Font-awesome - use JavaScript instead of CSS webfont
// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts" !default
// @import "@fortawesome/fontawesome-free/scss/solid"
// @import "@fortawesome/fontawesome-free/scss/fontawesome"

// Bootstrap
@import "bootstrap/scss/bootstrap";

// RailsAdmin
@import "rails_admin/src/rails_admin/styles/base/theming";
@import "rails_admin/src/rails_admin/styles/filtering-select";
@import "rails_admin/src/rails_admin/styles/filtering-multiselect";
@import "rails_admin/src/rails_admin/styles/widgets";
