- content_for :heading
  h2
    = Place.model_name.human
    = t('actions.index')

/ table.table.table-sm
/   thead
/     tr
/       - if @target
/         th = Place.human_attribute_name(@target)
/       - else
/         th = Place.human_attribute_name(:area)
/         th = Place.human_attribute_name(:building)
/         th = Place.human_attribute_name(:floor)
/         th = Place.human_attribute_name(:room)
/         th = Place.human_attribute_name(:nodes_count)
/   tbody
/     - @places.each do |place|
/       tr
/         - if @target
/           td = place[@target]
/         - else
/           td = place.area
/           td = place.building
/           td = t_floor(place.floor)
/           td = place.room
/           td = place.nodes_count

/ = paginate @places
/ p
/   = page_entries_info @places

script#translation type="application/json"
  - list = %w[area building floor room confirmed nodes_count].map do |name|
    - 'activerecord.attributes.place.' + name
  == list.to_h { |name| [name, t(name)] }.to_json

#places-table
= javascript_pack_tag 'places-table', 'data-turbolinks-track': 'reload'
